@use '../../../styles/mixins/' as *;

.btn {
  display: block;
  width: fit-content;
  padding: 12px 20px;
  background-color: var(--c-pink);
  color: var(--c-white);

  border: 2px solid var(--c-pink);
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;

  transition: all 0.2s ease-in-out;

  @include hover {
    border-color: var(--c-gray);
    background-color: var(--c-white);
    color: var(--c-gray);
  }

  &--border {
    border-color: var(--c-gray);
  }
  &--white {
    background-color: var(--c-white);
    color: var(--c-gray);

    @include hover {
      background-color: var(--c-pink);
      border-color: var(--c-pink);
      color: var(--c-white);
    }
  }
}
