@use '../../../../styles/mixins/' as *;

.about {
  @include rmax($md) {
    color: var(--c-white);
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    @include size('padding-top', 140, 35);
    @include size('padding-bottom', 175, 35);

    background-image: url('/src/assets/images/home/about-bg.webp');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: left center;
  }
  .content {
    max-width: 470px;
  }

  .title {
    margin-bottom: 50px;
  }

  .text {
    margin-bottom: 25px;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}
