@use '../../../../styles/mixins/' as *;

.services-adventages {
  .adventages__inner {
    display: flex;
    justify-content: flex-end;
    padding-block: 60px 100px;

    background-image: url('/src/assets/images/services/services-advantages.webp');

    background-position: left center;
  }
}
