@use '../../../../styles/mixins/' as *;

.discount {
  @include bg-cover;
  @include size('padding-top', 80, 35);
  @include size('  padding-bottom', 80, 35);

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  .content {
    max-width: 400px;
    width: 100%;

    @include rmax($md) {
      text-align: center;
      margin-inline: auto;

      .btn {
        margin-inline: auto;
      }
    }
  }
  .title {
    margin-bottom: 50px;

    @include rmax($md) {
      margin-bottom: 25px;

      &::before {
        margin-inline: auto;
      }
    }
  }
}
