@use '../../../../styles/mixins/' as *;

.feedback {
  @include size('padding-top', 80, 35);
  @include size('  padding-bottom', 80, 35);
  &__inner {
    display: grid;
    grid-template-columns: 300px 860px;

    @include rmax($xl) {
      grid-template-columns: 1fr;
    }
  }

  .content {
    @include rmax($xl) {
      margin-inline: auto;
      text-align: center;
    }
  }

  .title {
    margin-bottom: 30px;

    @include rmax($xl) {
      &::before {
        margin-inline: auto;
      }
    }
  }

  .slider {
    padding: 30px;
    overflow: hidden;
  }

  .swiper-slide {
    box-sizing: border-box !important;
    // width: fit-content !important;
  }
  .swiper-wrapper {
    box-sizing: border-box !important;
  }
}

// swiper navigation
.slider-actions {
  display: flex;
  gap: 12px;

  @include rmax($xl) {
    justify-content: center;
  }

  .slider-btn {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid currentColor;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 2px solid transparent;
    outline-offset: 0;
    transition: all 0.2s ease-in-out;

    @include hover {
      color: var(--c-pink);
    }

    &::before {
      content: '';
      width: 10px;
      height: 20px;
      mask-image: var(--icon-prev);
      @include mask-contain;
      background-color: currentColor;
    }

    &--next {
      &::before {
        transform: scaleX(-1);
      }
    }

    &:focus {
      outline-color: var(--c-pink);
      outline-offset: 3px;
    }

    &[disabled] {
      color: var(--c-gray);
      pointer-events: none;
    }
  }
}

.feedback-card {
  padding: 55px;
  max-width: 430px;

  &__body {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    font-weight: 500;
  }
  &__info {
    font-size: 12px;
    font-weight: 300;
    color: var(--c-gray);
  }
}
