@use '../../../../styles/mixins/' as *;

.request {
  position: relative;
  @include size('padding-top', 80, 35);
  @include size('  padding-bottom', 80, 35);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0px;
    height: 600px;
    background-color: rgb(56, 28, 117);
    z-index: -1;

    @include rmin(1400) {
      background-image: linear-gradient(
        90deg,
        rgb(56, 28, 117) 94%,
        rgb(56, 28, 117) 94%,
        rgb(255, 255, 255) 94%,
        rgb(255, 255, 255) 94%,
        rgb(255, 255, 255) 94%
      );
    }

    @include rmax($md) {
      height: 100%;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @include size('  padding-bottom', 80, 35);
    @include rmax($md) {
      grid-template-columns: 1fr;
    }
  }

  .form-wrapper {
    @include size('  padding-left', 50, 0);
  }

  &__iframe {
    max-width: 100%;
    @include size('hight', 585, 200);
    filter: grayscale(0.75);
  }
}
